div .center {
    text-align: center;
    margin: auto;
    width: 40%;
    height: 100%;
    background: rgb(194, 247, 255);
    outline: rgb(153, 234, 252);
    outline-width: 5px;
}

img{
    image-rendering: pixelated;
}

.imglink {
    width: 60%;
    margin-left: 10px;
    margin-bottom: 6px;
}

.createdpostcontent {
    width:95%;
    margin: 0 auto;
}

.postsubmit {
    width:95%;
    margin-bottom: 10px;
    margin-left: 2.5%;
}

div .feedbackdrop {
    text-align: center;
    margin: auto;
    width: 70%;
    height: auto;

}

div .post {
    border-radius: 10px;
    margin-top: 10px;
    text-align: left;
    background: rgb(224, 249, 252);
    outline: 2px solid rgb(192, 239, 246);
    width: auto;
}

div .date {
    font-style: italic;
    font-size: small;
}


.name {
    color: black;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
}

div .content {
    vertical-align: top;
    margin-top: 6px;
    margin-left: 10px;
    font-style: normal;
    font-size: medium;
}
div .posttext {
    margin-left: 7px;
    margin-right: 7px;
}

.postimg {
    vertical-align: top;
    text-align: right;
    float: left;

  
    margin-right: 15px;
    height: 220px;
    max-height: 100%;
}

.pagenum{
    float:left;
    font-size:xx-large;
    position:relative;
    text-align: center;
    width: 40px;
    height: 50px;
    left:0;
    background: rgb(175, 175, 175);
    outline: rgb(128, 128, 128);
    outline-width: 5px;
   }

.nameincorner{
    margin:auto;
    position:absolute;
    text-align: center;
    width: 200px;
    height: 30px;
    top:0;
    right:0;
    background: rgb(136, 245, 158);
    outline: rgb(41, 173, 98);
    outline-width: 5px;
   }

.flashed {
    width: 100%;
    background: rgb(216, 255, 110);
    height: 26px;
    text-align: center;

}
   
div .pageturn {
    float:right;
    right:0;
    position:relative;
}

div .backpageturn {
    float:left;
    left:0;
    position:relative;
}