{% extends "base.html"%}
{% block title %}Forum{% endblock %}
{% block content %}
    <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="pagenum">
            {{ intpage }}
        </div>
        <div class="feedbackdrop">
            {% if shownposts %}
                {% for post in shownposts %}
                <div class="post">
                    <div class="posttext">
                        <img style="height: 48; width: 48;" src="{{ url_for('static', filename='/avatars/') }}{{ post.op }}.png" alt="img not found" />
                        <a class="name" href="/userpages/{{ post.op }}" target=”_blank”>{{ post.op }}</a>
                        <div class="content">
                            <p style="overflow: hidden;">
                                <img class="postimg" src="{{ post.imglink }}" onerror="this.style.display='none'" this.src='' alt="">
                                {{ post.content }}
                            </p>
                        </div>
                        <div class="date">{{ post.date }}</div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            {% if mostrecent %}
                {% if "user" in session %}
                    {% with data=data %}
                        {% include "postextension.html"%}
                    {% endwith %}
                {% endif %}
            {% endif %}

        </div>
        {% if not mostrecent %}
        <div class="pageturn">
            <form action="/pageturn" method="post">
                <button name="nextpage" type="submit"> Next Page </button>
            </form>
        </div>
        {% endif %}
        {% if intpage != 0%}
        <div class="backpageturn">
            <form action="/backpageturn" method="post">
                <button name="backpage" type="submit"> Previous Page </button>
            </form>
        </div>
        {% endif %}
    </body>

{% endblock %}
